<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application - Membres</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 <h1>Membres</h1>

 <table class="tableau">
	<% let noLigne = 0 %>
	<% for(element of membres){ %>
		<% if (noLigne==0){ %>
			<tr>
				<% noLigne++ %>
			 	<% for (p in element){ %>
			 		<th><%= p %></th>
			 	<% } %>
			</tr>
		<% } %>
	<% } %>


	<% for (elm of membres) {%>
		<tr>
			<td><%= elm._id %></td>
			<th><%= elm.nom %></th>
			<th><%= elm.prenom %></th>
			<td><%= elm.telephone %></td>
			<td><%= elm.courriel %></td>
		</tr>
	<% } %>
 </table>


 <h1>Inscription membre</h1>

 <form action = "http://127.0.0.1:8081/ajouter" method = "GET">
	 Prénom: <input type = "text" name = "prenom"> <br>
	 Nom: <input type = "text" name = "nom"> <br>
	 Téléphone: <input type = "text" name = "telephone"> <br>
	 Courriel: <input type = "text" name = "courriel"> <br>
	 <input type = "submit" value = "Submit" class="bouton">
 </form>


</body>
</html>